.contentContainer {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 2rem;
    margin-top: 4.9rem;
}

.article {
    margin-top: 48px;

    a {
        h1 {
            color: var(--heading, #F8F8F8);
            font-family: Inter, sans-serif;
            font-size: 28px;
            font-weight: 700;
            letter-spacing: -0.5px;
            padding-bottom: 8px;
        }

        p {
            color: var(--body, #D7D7D7);
            font-family: Inter, sans-serif;
            font-size: 18px;
            font-weight: 400;
        }

        div {
            padding-top: 25px;

            span {
                color: var(--info, #BBB);
                font-family: Inter, sans-serif;
                font-size: 14px;
                font-weight: 400;

                svg {
                    margin-right: 8px;
                }
            }

            span:first-child {
                margin-right: 20px;
            }


        }



    }
}

.button {
    background: transparent;
    border: none;
    color: var(--highlight, #FF57B2);
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 64px 0 80px 0;
    
}